apiVersion: v1
kind: Service
metadata:
  name: {{ include "fvj.fullname" . }}
  labels:
    {{- include "fvj.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      nodePort: 30080
  selector:
    {{- include "fvj.selectorLabels" . | nindent 4 }}
